.tag {
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    border-radius: 3px;

    p {
        font-weight: 500;
        font-size: 11px;
    }

    &.blue {
        background: #a5c9f490;
    }

    &.green {
        background: #A5F4A590;
    }

    &.yellow {
        background: #F4F1A590;
    }

    &.orange {
        background: #F4C1A590;
    }

    &.purple {
        background: #D1A5F490;
    }

    &.red {
        background: #F4A5A590;
    }

    &.pink {
        background: #f4a5d890;
    }
}